<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-performance-heading">Create or edit a Performance</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!performance.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="performance.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rating">Rating</label>
                    <input type="text" class="form-control" name="rating" id="field_rating"
                        [(ngModel)]="performance.rating" required maxlength="2" pattern="[0-9]+"/>
                    <div [hidden]="!(editForm.controls.rating?.dirty && editForm.controls.rating?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.rating?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.rating?.errors?.maxlength">
                        This field cannot be longer than 2 characters.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.rating?.errors?.pattern">
                            This field should follow pattern for "Rating".
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
