<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teacher">
            <h2><span>Teacher</span> {{teacher.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Teacher Name</span></dt>
                <dd>
                    <span>{{teacher.teacherName}}</span>
                </dd>
                <dt><span>Mobile Number</span></dt>
                <dd>
                    <span>{{teacher.mobileNumber}}</span>
                </dd>
                <dt><span>Date Of Birth</span></dt>
                <dd>
                    <span>{{teacher.dateOfBirth}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{teacher.email}}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{teacher.password}}</span>
                </dd>
                <dt><span>Desc</span></dt>
                <dd>
                    <span>{{teacher.desc}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/teacher', teacher.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
